*{
    font-family: "Sofia";
}
.header{
    background-image: url("../imgs/neopolitan.jpg");
    background-size: cover;
    height: 500px
}
.noshery{
    padding-top: 40px;
    font-size: 40px;
    padding-top: 5px;
    font-size: 80px;
    border-width: 10px;
    margin: 5px;
    width: 50%;
    height: 30%;
}
.menu{
    padding-top: 50px;
}
.jumbotron{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/background.jpeg");
    background-size: cover;
    margin-top: 50px;
    width:900px;
    margin-left: 100px;
    color:white;
}
#submit, .clear, #delivery, #cancel{
    background-color: rgb(151, 222, 243);
    border-radius: 5px;
}
#deliveryForm{
    display: none;
}
footer{
    padding-top:70px; 
}